body {
    background-image: url("/img/rooftop\ pixel\ art.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-family: Arial, sans-serif;
    text-align: center;
}


#story-container {
    margin: 50px;
    padding: 20px;
    border: 2px solid #ccc;
}

#story-text {
    font-size: 18px;
    color: white;
    display: block;
    border: none !important;
}


#repair-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.animated-text {
    display: inline-block;
    animation: pulse 2s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  