body {
    background-image: url(/img/sciencelab.gif);
    background-size: cover;
    background-repeat: no-repeat;
    color: white; 
    text-align: center;
  }
  
  #puzzle-container {
    width: 328px; 
    height: 328px; 
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cell {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(99, 98, 98);
  }
  
  .empty {
    background-color: transparent;
  }