body {
    background-image: url("/img/cave.png");
    background-size: cover;
}
.room2-2-4{
    background-image: url("/img/cave-4.png");
    background-size: cover;
}
.room-2-3-1{
    background-image: url("/img/forest1.png");
    background-size: cover;
}

.room2-2 {
    width: 320px;
    height: 320px;
    position: absolute;
    right: 10px;
    bottom: 230px;
}

.room-2 {
    width: 320px;
    height: 320px;
    position: absolute;
    left: 10px;
    bottom: 390px;
}

.room-2-3{
    width: 320px;
    height: 320px;
    position: absolute;
    right: 10px;
    bottom: 230px;
}
#bonfire {
    position: absolute;
    left: 35%;
    top: 60%;
}

#cavemen1 {
    width: 120px;
    height: 155px;
    margin-left: 667px;
    margin-top: 670px;
}

#cavemen2 {
    width: 120px;
    height: 155px;
    margin-left: 69px;
    margin-top: 66px;
}

#stone {
    position: absolute;
    left: 250px;
    bottom: 20%;
    width: 410px;
    height: 330px;
}

.crystal{
    position: absolute;
    left: 250px;
    bottom: 20%;
    width: 410px;
    height: 330px;
}

.hourglass-1{
    position: absolute;
    left: 50%;
    top: 100%;
    width: 120px;
    height: 155px;
}