body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(timer.jpg);
}
.logo{
width: 20%;
height: 20%;



}
#timer {
    font-size: 6rem;
    margin-bottom: 1rem;
    font-size: 6rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    background-color: #e0b53d;
    color: rgb(255, 0, 0);
    margin: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: 2px solid white;
}

button {
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    background-color: #e0b53d;
    color: rgb(255, 0, 0);
    margin: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: 2px solid white;
}

button:hover {
    background-color: #5a23a1;
}